[Unit]
Description=Updating the scraped Pypi list.
After=network.target

[Service]
WorkingDirectory=/home/mic/python/git_automate/auto/automate/
ExecStart=/usr/bin/celery -A man worker -E -l INFO
User=mic
Group=mic
Type=simple

[Install]
WantedBy=multi-user.target
