[Unit]
Description=Updating Information of the Repositories..
After=network.target

[Service]
WorkingDirectory=/home/mic/python/git_automate/auto/automate/
ExecStart=/usr/bin/celery -A man beat --loglevel=INFO
User=mic
Group=mic
Type=simple

[Install]
WantedBy=multi-user.target
